 div {
            background-color: blue;
            font-size: 20px;
            color:yellow;
            font-family: 'Times New Roman', Times, serif
            
        }
        h1 {
            background-color: red;
            color: white;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-style:italic;
            font-weight: bold;
            width: 100px;
        }